streamlit
dowhy
econml
pandas
numpy
scikit-learn
matplotlib
google-genai
statsmodels
pycausalimpact

# --- Metadata ---
# Release: 3.0.0 | 2026-02-04 | Added Bayesian Structural Time Series(BSTS), restructured UI tabs, and created README.
# Release: 2.0.0 | 2026-01-08 | Added AI Assistant (Chatbot), updated User Guide, and built a feedback module.
# Release: 1.2.0 | 2025-12-21 | Added Correlation Matrix, Placebo Treatment, and UI improvements.
# Release: 1.1.0 | 2025-12-19 | Added methods for binary outcome.
# Release: 1.0.0 | 2025-12-12 | Initial release with Causal Inference features.
# Release: 0.9.0 | 2025-12-10| Beta release for internal testing.
